* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  justify-content:space-between;
  background-color: black;
}

#sidebar {
  width: 16%;
  height: 55%;
  padding: 15px;
  margin: 20px;

  border: 1px solid black;
  background-color: white;

  position: fixed;
  left: 0;
  top: 0;

  line-height: 1.5;
  font-weight: bold;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.sidebar-ul {
  line-height: 1;
  padding-left: 25px;
}

#links {
  width: 16%;
  padding: 15px;

  position: fixed;
  bottom: 15px;
  left: 0;
}

a.repo-link, a.repo-link:active, a.repo-link:visited {
  text-decoration: none;

  color:white;
}

a.repo-link:hover {
  text-decoration: underline;
}

.repo-text {
  margin: 5px;

  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color:white;
  text-decoration: none;
}

#contents {
  width: 79%;
  margin-left: 21%;

  padding-left: 90px;
  padding-right: 150px;
  padding-top: 30px;
  padding-bottom: 100px;
  background-color: white;
  border-left: 1px solid black;

  position: static;
  right: 0;
}

.results {
  color: black;
  background-color: #fafad2;
  padding: 8px;
  border: 1px solid black;
}

ol, ul, li {
  margin-top: 10px;
  line-height: 1.2;
}

h1 {
  font-size: 65px;
  margin-bottom: 0;
}

h2 {
  margin-top: 60px;
  font-size: 30px;
}

h3 {
  margin-top: 40px;
  margin-bottom: 0px;
}

h4 {
  margin-bottom: 0px;
  color: dimgray;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 25px;
  font-weight: normal;
}

.graph {
  margin: 10px 2.5% 50px;

}

.left-frame, .right-frame {
  float: left;
  border: none;
}

.note {
  margin-left: 60px;
  color: gray;
}

.plot-title {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

.line-plot {
  margin-left: 15%;
  margin-right: 25%;
  margin-top: 0;
  margin-bottom: 0;
}

.info-box {
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px;
  background-color: #eee8aa;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

table {
  margin-top: 15px;
  border-collapse: collapse;
}

th {
  border: 1px solid #333;
  padding-top: 8px;
  padding-bottom: 8px;
}

td {
  border: 1px solid #333;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 95px;
}

a.slink, a.slink:visited {
  color: black;
  text-decoration: none;
}

a.slink:active, a.slink:hover {
  color: darkgoldenrod;
  text-decoration: underline;
}

a.datalink:link, a.datalink:visited {
  color:royalblue;
  text-decoration: none;
}

a.datalink:hover {
  text-decoration: underline;
}